---
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro";
---

<Layout title="Douglas Luz">
  <main>
    <h1>Greetings</h1>
    <p>
      I'm Doug, a dedicated <b>Software Engineer</b> currently shaping innovations at <Link
        href="http://www.rdstation.com"
        text="RD Station"
      />, the powerhouse behind Latin America's largest SaaS, RD Station
      Marketing. With prior experience at <Link
        href="http://www.libercapital.com.br"
        text="Liber"
      /> and <Link href="http://www.frentecorretora.com.br" text="Frente Corretora" />,
      my expertise centers around <b>Ruby on Rails</b> and <b>React</b>. My name is Douglas! <br
      />
    </p>
    <p>
      My home is shared with three dogs: Zeca, Nina, and Xuxa. When I'm not
      immersed in programming, you'll find me exploring hobbies like collecting
      and listening to CDs, watching F1, playing video games, and diving into
      architecture literature.
    </p>
    <p>
      Feel free to connect with me on <Link
        href="http://www.linkedin.com/in/douguiluz"
        text="Linkedin"
      />
    </p>
  </main>
</Layout>

<style>
  p {
    font-size: 1.5rem;
    line-height: 1.5;
  }
</style>
