---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Douglas Luz">
	<main>
    <h1>Hello</h1>
    <p>
      My name is Douglas! <br/>
      Currently i work as <b>Software Engineer</b> at <b><a href="www.rdstation.com">RD Station</a></b> in the RD Station Marketing product. Previously i had worked at <b><a href="www.libercapital.com.br">Liber</a></b> and <b></b>
    </p>
	</main>
</Layout>

<style>
</style>
